@import "tailwindcss";

:root {
  --background: hsl(230, 100%, 99%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-lightGray: hsl(224, 65%, 95%);
  --color-toggleBlue: hsl(223, 50%, 87%);
  --color-paraTextBlue: hsl(225, 20%, 60%);
  --color-headTextBlue: hsl(227, 35%, 25%);
  --color-componentBg: hsl(0, 0%, 100%);
  --color-slider: hsl(174, 86%, 45%);
  --color-sliderBg: hsl(174, 77%, 80%);
  --color-emptySliderBg: hsl(224, 65%, 95%);
}

[data-theme="dark"] {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="range"]{

  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track{
  height: 10px;
  border-radius: 10px;
}

input[type="range"]::-moz-range-track{
  height:10px;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb{
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-slider) url('/icon-slider.svg') no-repeat center;
  background-size: 50%;
  margin: 0;
  margin-top: -15px;
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

input[type="range"]::-webkit-slider-thumb:hover{
  box-shadow: 0 5px 15px rgba(77, 255, 166, 0.5);
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active{
  box-shadow: 0 5px 15px rgba(77, 255, 166, 0.5);
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}



input[type="range"]::-moz-range-thumb{
  width: 40px;
  height: 40px;
  border-radius:50%;
  border:none;
  background: var(--color-slider) url('/icon-slider.svg') no-repeat center;
  background-size:50%;
  margin: 0;
  margin-top: -15px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

input[type="range"]::-moz-range-thumb:hover{
  box-shadow: 0 5px 15px rgba(77, 255, 166, 0.5);
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

input[type="range"]::-moz-range-thumb:active{
  box-shadow: 0 5px 15px rgba(77, 255, 166, 0.5);
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

