@import "tailwindcss";

:root {
  --background: hsl(230, 100%, 99%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-lightGray: hsl(224, 65%, 95%);
  --color-toggleBlue: hsl(223, 50%, 87%);
  --color-paraTextBlue: hsl(225, 20%, 60%);
  --color-headTextBlue: hsl(227, 35%, 25%);
  --color-componentBg: hsl(0, 0%, 100%);
  --color-slider: hsl(174, 86%, 45%);
  --color-sliderBg: hsl(174, 77%, 80%);
  --color-emptySliderBg: hsl(224, 65%, 95%);
}

[data-theme="dark"] {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
